*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100vh;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    /* Background Colors */
    --bg-primary-color: rgb(16, 16, 16);
    --bg-button-color: rgb(30, 30, 30);
    --bg-task-column-color: rgb(24, 24, 24);
    --bg-task-color: rgb(40, 40, 40);
    --bg-delete-button-color: rgb(255, 50, 50);

    /* Text Colors */
    --bg-text-color: rgb(243, 243, 243);

    /* Padding Variables */
    --nav-padding: 16px 32px;
    --section-padding: 16px 32px;
    --padding-sm: 5px;
    --padding-md: 10px;
    --padding-lg: 15px;
    --padding-xl: 20px;
    --padding--xxl: 30px;    
    
    /* Border Variables */
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;
}

body{
    background-color: var(--bg-primary-color);
    color: var(--bg-text-color);
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--nav-padding);
}

nav button{
    background-color: var(--bg-button-color);
    border: none;
    outline: none;
    color: var(--bg-text-color);
    cursor: pointer;
    padding: var(--padding-md) var(--padding-lg);
    border-radius: var(--border-radius-md);
    transition: color 0.3s ease;
}

nav button:hover{
    color: gray;
}
nav button:active{
    transform: scale(0.98);
}

/* Board */

section {
    width: 100%;
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--padding--xxl);
}

section .board{
    width: 100%;
}

section .task-column{
    width: 100%;
    display: flex;
    background-color: var(--bg-task-column-color);
    flex-grow: 1;
    border-radius: var(--border-radius-md);
    flex-direction: column;
    gap: var(--padding-lg);
    padding: var(--padding-md);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    
}

section .task-column.hover-over{
    border: 2px dashed var(--bg-text-color);
    scale: 1.05;
}

section .task-column .heading{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: var(--padding-md) var(--padding-lg);
}

section .task-column .task{
    background-color: var(--bg-task-color);
    padding: var(--padding-md) var(--padding-lg);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--padding-sm);
    cursor: grab;
}

section .task-column .task button{
    background-color: var(--bg-delete-button-color);
    border: none;
    outline: none;
    align-self: flex-end;
    color: var(--bg-text-color);
    cursor: pointer;
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-sm);
    transition: all 0.3s ease;
}

section .task-column .task button:active{
    transform: scale(0.98);
}

/* Modal Styles */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active{
    display: flex;
}

.modal .center{
    background-color: var(--bg-task-column-color);
    padding: var(--padding--xxl);
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
    z-index: 10;
}

.modal .center input,
.modal .center textarea{
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    color: var(--bg-text-color);
    padding: var(--padding-md);
    border-radius: var(--border-radius-sm);
    font-size: 1rem;
    width: 300px;
}

.modal .center textarea{
    resize: none;
    height: 100px;
}

.modal .center .add-task-btn{
    background-color: var(--bg-button-color);
    border: none;
    outline: none;
    color: var(--bg-text-color);
    cursor: pointer;
    padding: var(--padding-md) var(--padding-lg);
    border-radius: var(--border-radius-md);
    transition: color 0.3s ease;
    width: fit-content;
    align-self: center;
}

.modal .center .add-task-btn:hover{
    color: gray;
}

.modal .center .add-task-btn:active{
    transform: scale(0.98);
}

.modal .bg{
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.281);
    backdrop-filter: blur(4px);
    position: absolute;
}