*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    /* Background Colors */
    --bg-primary-color: rgb(16, 16, 16);
    --bg-button-color: rgb(30, 30, 30);

    /* Text Colors */
    --bg-text-color: rgb(255, 255, 255);

    /* Padding Variables */
    --nav-padding: 16px 32px;
    --section-padding: 16px 32px;
    --padding-sm: 5px;
    --padding-md: 10px;
    --padding-lg: 15px;
    --padding-xl: 20px;
    --padding--xxl: 30px;    
    
    /* Border Variables */
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;
}

body{
    background-color: var(--bg-primary-color);
    color: var(--bg-text-color);
}

main{
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--nav-padding);
}

nav button{
    background-color: var(--bg-button-color);
    border: none;
    outline: none;
    color: var(--bg-text-color);
    cursor: pointer;
    padding: var(--padding-md) var(--padding-lg);
    border-radius: var(--border-radius-sm);
    transition: color 0.3s ease;
}

nav button:hover{
    color: gray;
}
nav button:active{
    transform: scale(0.98);
}